<div class="row">
  <% for post in @posts %>
    <div class="col-3">
      <h4><%= post["author"] %></h4>
      <img class="img-fluid" src="<%= post["image"] %>" class="w-full">
      <p><%= post["body"] %></p>
    </div>
  <% end %>
</div>


<h1>My Posts</h1>
 
<ul>
  <% for post in @posts %>
    <li>
      <a href="/posts/<%= post["id"]%>"><%= post["body"] %></a>
    </li>
  <% end %>
</ul>

<p>
<a href="post/new"> Create a new post </a>
</p>